{{ define "user/login.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<form action="/user/login">
    <input type="text" placeholder="请输入用户名" name="username" id="username"> <br>
    <input type="password" placeholder="请输入密码" id="password" name="password"> <br>
    <input type="text" placeholder="请输入验证码" id="verifyCode" name="verifyCode"> <input type="button" value="获取验证码" id="getVerifyCode" style="background-color: aliceblue"> <br>
    <input type="button" value="登录" id="login" name="login">
</form>

<script>

    let btnGetVerifyCode = document.getElementById("getVerifyCode");
    btnGetVerifyCode.onclick = function () {
        alert("获取验证码成功")
        let username = document.getElementById("username").value;
        $(this).disable = true;
        setTimeout(() => {
            btnGetVerifyCode.disabled = false;
            btnGetVerifyCode.style.background = "aliceblue"
        }, 60000)
        console.log(username, password, verifyCode)
        $.ajax({
            url: "/user/preLogin/",
            type: "POST",
            data: {
                "username": username,
            },
            success: function (data) {
                console.log(data["msg"])
            },
            fail: function (data) {
                console.log(data["msg"])
            }
        })
    }
    let btnLogin = document.getElementById("login");
    btnLogin.onclick = function () {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let verifyCode = document.getElementById("verifyCode").value;
        console.log(username, password, verifyCode);
        $.ajax({
            url: "/user/login/",
            type: "POST",
            data: {
                "username": username,
                "password": password,
                "verifyCode": verifyCode

            },
            success: function (data) {
                console.log(data["msg"])
                localStorage.setItem("user", JSON.stringify(data["msg"]))
                window.location.href = data["redirectUri"]
            },
            fail: function (data) {
                console.log(data["msg"])
                alert("登录验证失败")
            }
        })
    }
</script>
</body>
</html>
{{ end }}