{{ define "user/login.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <script src="static/js/jquery.js"></script>
</head>
<body>
<form action="/user/login">
    <input type="text" placeholder="请输入用户名" name="username" id="username"> <br>
    <input type="password" placeholder="请输入密码" id="password" name="password"> <br>
    <input type="text" placeholder="请输入验证码" id="verifyCode" name="verifyCode"> <input type="button" placeholder="点击获取验证码" id="getVerifyCode"> <br>
    <input type="button" value="登录" id="login" name="login">
</form>

<script>
    let getVerifyCode = document.getElementById("getVerifyCode").value;
    getVerifyCode.onclick = function () {
        let username = document.getElementById("username").value;
        $(this).attr('disabled', true);
        $(this).css('backgroud-color', 'grey');
        setTimeout(function () {
            $('#getVerifyCode').removeAttr('disabled')
        }, 60000);
        $ajax({
            url: "/user/preLogin",
            type: "POST",
            data: {
                "username": username,
            },
            success: function (data) {

            },
            fail: function (data) {

            },
        });
        let loginBtn = document.getElementById("login")
        loginBtn.onclick = function () {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            let verifyCode = document.getElementById("verifyCode").value;
            $ajax({
                url: "/user/login",
                type: "POST",
                data: {
                    "username": username,
                    "password": password,
                    "verifyCode": verifyCode,
                },
                success () {},
                fail () {},
            });
        }

    }
</script>
</body>
</html>
{{ end }}