{{ define "user/login.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <script src="static/js/jquery.js"></script>
</head>
<body>
<form action="/user/login">
    <input type="text" placeholder="请输入用户名" name="username" id="username"> <br>
    <input type="password" placeholder="请输入密码" id="password" name="password"> <br>
    <input type="text" placeholder="请输入验证码" id="verifyCode" name="verifyCode"> <input type="button" value="获取验证码" id="getVerifyCode" style="background-color: aliceblue"> <br>
    <input type="button" value="登录" id="login" name="login">
</form>

<script>
    // let sourceUri = "https://www.baidu.com"
    let sourceUri = '{{.uri}}'
    console.log(sourceUri)
    let btnGetVerifyCode = document.getElementById("getVerifyCode");
    btnGetVerifyCode.onclick = function () {
        let username = document.getElementById("username").value;
        $(this).style.background = "black";
        $(this).disable = true;
        setTimeout(() => {
            btnGetVerifyCode.disabled = false;
            btnGetVerifyCode.style.background = "aliceblue"
        }, 60000)
        $.ajax({
            url: "/user/preLogin",
            type: "POST",
            data: {
                "username": username,
            },
            success: function (data) {
                console.log(data["msg"])
            },
            fail: function (data) {
                console.log(data["msg"])
            }
        })
    }
    let btnLogin = document.getElementById("login");
    let username = document.getElementById("username");
    let password = document.getElementById("password");
    let verifyCode = document.getElementById("verifyCode");
    btnLogin.onclick = function () {
        $.ajax({
            url: "/user/login",
            data: {
                "username": username,
                "password": password,
                "verifyCode": verifyCode,

            },
            success: function (data) {
                console.log(data["msg"])
            },
            fail: function (data) {
                console.log(data["msg"])
            }
        })
    }
</script>
</body>
</html>
{{ end }}